@import "media_query";
@import "base";
@import "navbar";
@import "spinner";
@import "sidebar";
@import "map";
@import "chart";
@import "footer";

.intro {
    position: relative;
    padding-top:15vh;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: block;

    .jumbo {
        padding: 20px 30px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: $theme-grey;
        border-radius: 10px;
        color: $theme-black;

        @include giant-desktop {
            width: 900px;
        }

        @include large-desktop {
            width: 900px;
        };

        @include desktop {
            width: 900px;
        };

        @include tablet {
            width: 90%;
        }

        @include mobile {
            width: 90%;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

    }

    @include giant-desktop {
        padding-top: 20vh;
        padding-bottom: 15vh;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.file-input {
    margin-top: 10vh;
    text-align: center;

    #entry-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}

.file-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    background-color: $theme-blue;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease;

    i {
        line-height: 100px;
        font-size: 3rem;
    }

    &:hover {
        background-color: $theme-dark;
        box-shadow: $material-shadow-3;
    }
}

#entry-file + label {
    max-width: 80%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    background-color: $theme-blue;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.2s ease;

    &:hover {
        background-color: $theme-dark;
        box-shadow: $material-shadow-2;
        transform: translate(0, 0);
    }

    &.invalid {
        background-color: $theme-grey;
    }
}

.content {
    margin-top: 60px;
    height: auto;
    width: calc(100vw - 40px);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px;
    overflow: hidden;
    display: none;

    @include large-desktop {
        margin-left: 200px;
        width: calc(100vw - 200px);
        margin-right: 0;
    };

    @include giant-desktop {
        margin-left: 200px;
        width: calc(100vw - 200px);
        margin-right: 0;
    };
}

.content-box {
    width: calc(100% - 20px);
    box-shadow: $material-shadow-2;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px;

    &:hover {
        box-shadow: $material-shadow-4;
    }

    &:first-child {
        transform: rotate(-15deg);
        height: auto;
        transform-origin: top right;
        top: 100vh;
    }

    &:nth-child(2) {
        transform: rotate(15deg);
        height: auto;
        transform-origin: top left;
        top: 100vh;
    }

    &:nth-child(3) {
        transform: rotate(-15deg);
        height: 300px;
        transform-origin: top right;
        top: 100vh;
        text-align: center;

        h2 {
            font-weight: 700;
            transform: translateY(100px);
        }
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(-2px, 0);
    }

    20%, 80% {
        transform: translate(4px, 0);
    }

    30%, 50%, 70% {
        transform: translate(-7px, 0);
    }

    40%, 60% {
        transform: translate(7px, 0);
    }
}
